
.titile{
    margin: auto;
    padding: 10px;
    font-size: 30px;
   display: flex;
    flex-direction: initial;
    align-items: center;
    font-family: 'Open-Sans', sans-serif;
    background: #bcbebf;
    border-left: 20em;
}
.content {
width: 90%;
padding: 5px;
align-self: center;
    margin-left: 5%;
}
.descrizione{

    display: flex;
    flex-direction: column;
    font-family: 'Open-Sans', sans-serif;
}